{%extends 'base.html'%}
{%load static%}
{%block konten%}
<div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form action="" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" name="cari" class="form-control bg-light border-0 small" placeholder="Search for..." value="" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="text-transform: capitalize;">{{user}}</span>
                    <img class="img-profile rounded-circle"
                        src="{%static 'img/ira_imgs.png'%}">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">                              
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'signout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase;">PENILAIAN <h1>
                
                <a href="{% url 'add_penilaian' %}"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i>  Add Data
                </a>  
        </div>
        <div class="row">

            <!-- Area tabel -->
            {% if datas %}
            <div class="col-xl-12 col-lg-9 mb-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DATA PENILAIAN </h6>
                        </div>
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr>
                                            <th>NO</th>                                          
                                            <th>ALTERNATIF</th>
                                            <th>KRITERIA1</th>
                                            <th>KRITERIA2</th>
                                            <th>KRITERIA3</th>
                                            <th>KRITERIA4</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>  
                                                                                                                                                                                                  
                                    {%for data in datas%}                                                
                                        <tr style="text-transform: capitalize;" class="text-center">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.alternatif}}</td>   
                                            <td>{{data.kriteria1}}</td>
                                            <td>{{data.kriteria2}}</td>
                                            <td>{{data.kriteria3}}</td>
                                            <td>{{data.kriteria4}}</td>
                                            <td >
                                                <a href="{% url 'edit_penilaian' id=data.id %}" class="btn btn-warning btn-icon-split mb-1 ">
                                                    <span class="icon text-white-25">
                                                        <i class="fas fa-edit"></i>
                                                    </span>                                                                
                                                </a>
                                                
                                                <a href="{% url 'hapus_penilaian' id=data.id %}" class="btn btn-danger btn-icon-split mb-1" onclick="return confirm('yakin ingin menghapus data?')">
                                                    <span class="icon text-white-25">
                                                        <i class="fas fa-trash"></i>
                                                    </span>                                                                
                                                </a>
                                            </td>
                                        
                                        </tr> 
                                    {%endfor%}
                                    <form method="post" action="{% url 'hitung_normalisasi' %}">
                                        {% csrf_token %}
                                        <!-- <tr style="background-color: rgb(224, 196, 250);" class="text-center text-primary">
                                            <td colspan="2" class="text-center bg-primary text-white"> NILAI MIN</td>
                                            <td>{{ min_values.kriteria1__min }}</td>
                                            <td>{{ min_values.kriteria2__min }}</td>
                                            <td>{{ min_values.kriteria3__min }}</td>
                                            <td>{{ min_values.kriteria4__min }}</td>
                                            {% if data_normalisasi %}
                                            <td rowspan="2" style="text-align: center; vertical-align: middle;">
                                               
                                            </td>
                                            {% else %}
                                            <td rowspan="2" style="text-align: center; vertical-align: middle;">
                                                <button type="submit" class="btn btn-primary text-white">Hitung Normalisasi</button>
                                            </td>
                                            {% endif %}
                                        </tr> -->
                                        <tr style="background-color: rgb(224, 196, 250);" class="text-center text-primary">
                                            <td colspan="2" class="text-center bg-primary text-white"> NILAI MAX</td>
                                            <td>{{ max_values.kriteria1__max }}</td>
                                            <td>{{ max_values.kriteria2__max }}</td>
                                            <td>{{ max_values.kriteria3__max }}</td>
                                            <td>{{ max_values.kriteria4__max }}</td>
                                            {% if data_normalisasi %}
                                            <td rowspan="2" style="text-align: center; vertical-align: middle;">
                                               
                                            </td>
                                            {% else %}
                                            <td rowspan="2" style="text-align: center; vertical-align: middle;">
                                                <button type="submit" class="btn btn-primary text-white">Hitung Normalisasi</button>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </form>
                                    
                                    </tbody>
                                </table>
                                
                            </div>
                    </div>                               
                </div>
            </div>
            {% else %}
            <div class="col-xl-12 col-lg-9 mb-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow text-center p-5">
                        <h3>Belum ada Penilaian!</h3>
                    </div>                               
                </div>
            </div>
            {% endif %}

            <!-- data normalisasi -->
            {% if data_normalisasi %}
            <div class="col-xl-12 col-lg-9 mb-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <form method="post" action="{% url 'hitung_rengking' %}">
                            {% csrf_token %}
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">DATA NORMALISASI </h6>
                                {% if data_rengking %}

                                {% else %}
                                <div class="">
                                    <a href="{% url 'reset_normalisasi' %}" class="text-danger mr-4">Reset Normalisasi</a>
                                    <button type="submit" class="btn btn-primary text-white">Hitung Rengking</button>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                        
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr >
                                            <th>NO</th>                                          
                                            <th>ALTERNATIF</th>
                                            <th>KRITERIA1</th>
                                            <th>KRITERIA2</th>
                                            <th>KRITERIA3</th>
                                            <th>KRITERIA4</th>

                                        </tr>
                                    </thead>
                                    <tbody>  
                                    {%for data in data_normalisasi%}                                                
                                        <tr style="text-transform: capitalize;" class="text-center">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.alternatif}}</td>   
                                            <td>{{data.kriteria1}}</td>
                                            <td>{{data.kriteria2}}</td>
                                            <td>{{data.kriteria3}}</td>
                                            <td>{{data.kriteria4}}</td>
                                        </tr> 
                                    {%endfor%}
                                    <tr style="background-color: rgb(224, 196, 250);" class="text-center text-primary">
                                        <td colspan="2" class="text-center bg-primary text-white"> NILAI BOBOT</td>
                                        {% for kriteria in data_kriteria %}
                                            <td>{{ kriteria.bobot}}</td>
                                        {% endfor %}
                                    </tr>                                    
                                    </tbody>
                                </table>
                                
                            </div>
                    </div>                               
                </div>
            </div>
            {% else %}
                {% if  datas %}
                <div class="col-xl-12 col-lg-9 mb-5">
                    <div class="card shadow mb-UKM 4">
                        <!-- Card Header - Dropdown -->
                        <div class="card shadow text-center p-5">
                            <h3>Data Normalisasi Belum Dihitung!</h3>
                        </div>                               
                    </div>
                </div>
                {% else %}
                {% endif %}
            {% endif %}

            {% if  data_rengking %}
            <div class="col-xl-12 col-lg-9 mb-5">
                <div class="card shadow mb-UKM 4">
                    <!-- Card Header - Dropdown -->
                    <div class="card shadow">
                        <form method="post" action="{% url 'hitung_rengking' %}">
                            {% csrf_token %}
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">DATA RENGKING </h6>
                                <a href="{% url 'reset_rengking' %}" class="text-danger">Reset Rengking</a>
                            </div>
                        </form>
                        
                        <div class="card-body table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="text-center">
                                        <tr >
                                            <th>NO</th>                                          
                                            <th>ALTERNATIF</th>
                                            <th>KRITERIA1</th>
                                            <th>KRITERIA2</th>
                                            <th>KRITERIA3</th>
                                            <th>KRITERIA4</th>
                                            <th>NILAI TOTAL</th>

                                        </tr>
                                    </thead>
                                    <tbody>  
                                    {%for data in data_rengking%}                                                
                                        <tr style="text-transform: capitalize;" class="text-center">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.alternatif}}</td>   
                                            <td>{{data.kriteria1}}</td>
                                            <td>{{data.kriteria2}}</td>
                                            <td>{{data.kriteria3}}</td>
                                            <td>{{data.kriteria4}}</td>
                                            <td>{{data.total_nilai}}</td>
                                        </tr> 
                                    {%endfor%}                                                                       
                                </tbody>
                                </table>
                                
                            </div>
                    </div>                               
                </div>
            </div>
            {% else %}
                {% if  data_normalisasi %}
                <div class="col-xl-12 col-lg-9 mb-5">
                    <div class="card shadow mb-UKM 4">
                        <!-- Card Header - Dropdown -->
                        <div class="card shadow text-center p-5">
                            <h3>Data Rengking Belum Dihitung!</h3>
                        </div>                               
                    </div>
                </div>
                {% else %}
                {% endif %}
            {% endif %}
        </div>

    </div>
    <!-- /.container-fluid -->

</div>




{%endblock konten%}

<!-- SCRIPT -->
{%block script%}

{%endblock script%}